@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply w-[95%] sm:max-w-[640px] md:max-w-[768px] lg:max-w-[1024px] xl:max-w-[1150px];
  }
}

.search-link {
  @apply flex gap-2 items-center hover:bg-gray-100 hover:text-blue-700 hover:underline p-2;
}

.search-bar-menu {
  @apply absolute top-full left-1/2 -translate-x-1/2 w-full xl:max-w-[1150px] p-5 z-10 bg-white rounded-b-xl border border-accent grid grid-flow-col auto-cols-fr gap-10;
}

.authentication-input {
  @apply border p-3 outline-none;
}

.authentication-button {
  @apply bg-accent w-full p-4 my-2 text-white rounded-lg font-semibold text-xl transition-colors duration-500;
}

.absolute-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.account-container {
  @apply grid auto-cols-auto sm:grid-flow-col justify-center gap-6 container mx-auto my-10;
}

.pagination-button {
  @apply rounded-md h-[40px] w-[40px]  font-semibold text-xl;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  @apply bg-light-gray;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}
