*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body,
#root,
#root > * {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply XSmax:min-w-[95%] XSmax:max-w-[95%] xs:min-w-[90%] sm:max-w-[640px] md:max-w-[768px] lg:max-w-[1024px] xl:max-w-[1150px];
  }
}

.search-link {
  @apply flex gap-2 items-center hover:bg-gray-100 hover:text-blue-700 hover:underline p-2;
}

.search-bar-menu {
  @apply absolute top-full left-1/2 -translate-x-1/2 w-full xl:max-w-[1150px] p-5 z-10 bg-white rounded-b-xl border border-accent grid grid-flow-col auto-cols-fr gap-10;
}

.authentication-input {
  @apply border p-3 outline-none;
}

.authentication-button {
  @apply bg-accent w-full p-4 my-2 text-white rounded-lg font-semibold text-xl transition-colors duration-500;
}

.absolute-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.account-container {
  @apply grid auto-cols-[auto_1fr] sm:grid-flow-col justify-center gap-8 container mx-auto;
}

.pagination-button {
  @apply rounded-md h-[40px] w-[40px]  font-semibold text-xl;
}

.purchase-button {
  @apply flex gap-2 items-center justify-center rounded-lg py-3 font-semibold transition-all duration-500;
}

.add-to-cart-button {
  @apply bg-white hover:bg-accent text-accent hover:text-white border border-accent;
}

.buy-now-button {
  @apply bg-accent hover:brightness-110 text-white font-semibold;
}

.flex-center {
  @apply flex items-center justify-center;
}

.form-button {
  @apply border border-accent text-accent rounded-md w-[165px] py-1.5;
}

.form-input {
  @apply border p-2 outline-none rounded-md w-full;
}

.counter-list {
  counter-reset: section;
}

.marker-accent-rounded::before {
  counter-increment: section;
  content: counter(section);
  position: absolute;
  left: -2rem;
  top: 50%;
  translate: 0 -50%;
  color: white;
  background-color: rgb(0 147 215);
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1000px;
}
